{% load static %}

<!-- footer -->
<div class="container">
    <footer class="footer">
        <p class="mb-0" style="text-align: center;">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a
                    href="http://www.devcrud.com" id="p1">DevCRUD</a> Distribution <a
                    href="https://themewagon.com" id="p2">ThemeWagon</a>
        </p>
        <p style="text-align: center;">
        <a href="mailto:alperenyanik@hotmail.com" style="color: #695aa6;"><i class="fa-regular fa-envelope" style="color: #695aa6;"></i> {{ mail }}</a>
            <br>
        <a href="tel:+905422400181" style="color: #695aa6;"><i class="fa-regular fa-phone fa-shake" style="color: #695aa6;"></i> {{ number }}</a>
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            {% for social in social_medias %}
                <a href="{{ social.link }}" target="_blank" class="link">{{ social.icon|safe }}</a>
            {% endfor %}
        </div>
    </footer>
</div>
<!-- end of page footer -->

{% include "includes/scripts.html" %}