{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>{{ site_title }}</title>
    <meta name="keywords" content="{{ site_keywords }}">
    <meta name="description" content="{{ site_description }}">
    <meta name="author" content="Alperen YANIK">
    <link rel="stylesheet" href="{% static "vendors/themify-icons/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/meyawo.css" %}">
</head>