{% load static %}

<!DOCTYPE html>
<html lang="en">
        
{% include "includes/head.html" %}
    
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

{% include "includes/navbar.html" %}

<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up fa-fade">HI!</span>
            <span class="down fa-fade">I am {{ home_banner_name }}</span>
        </h1>
        <p class="header-subtitle fa-fade" style="font-weight: bold;">{{ home_banner_title }}</p>
    </div>
</header><!-- end of page header -->

<label class="bb8-toggle">
    <input class="bb8-toggle__checkbox" type="checkbox">
    <div class="bb8-toggle__container">
        <div class="bb8-toggle__scenery">
            <div class="bb8-toggle__star"></div>
            <div class="bb8-toggle__star"></div>
            <div class="bb8-toggle__star"></div>
            <div class="bb8-toggle__star"></div>
            <div class="bb8-toggle__star"></div>
            <div class="bb8-toggle__star"></div>
            <div class="bb8-toggle__star"></div>
            <div class="tatto-1"></div>
            <div class="tatto-2"></div>
            <div class="gomrassen"></div>
            <div class="hermes"></div>
            <div class="chenini"></div>
            <div class="bb8-toggle__cloud"></div>
            <div class="bb8-toggle__cloud"></div>
            <div class="bb8-toggle__cloud"></div>
        </div>
        <div class="bb8">
            <div class="bb8__head-container">
                <div class="bb8__antenna"></div>
                <div class="bb8__antenna"></div>
                <div class="bb8__head"></div>
            </div>
            <div class="bb8__body"></div>
        </div>
        <div class="artificial__hidden">
            <div class="bb8__shadow"></div>
        </div>
    </div>
</label>

<section class="section" id="about">
    <div class="container text-center">
        <div class="about">
            <div class="about-img-holder">
                <img src="{{ home_banner_image.url }}" class="about-img"
                     alt="">
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Who Am I ?</p>
                <h2 class="section-title mb-3">About Me <i class="fa-regular fa-user-bounty-hunter"></i></h2>
                <p>
                    {{ about_myself_welcome }}                
                </p>
                <h2 class="section-title mb-3">Education <i class="fa-regular fa-graduation-cap"></i></h2>
                <p>{{ education_hs }}</p>
                <p>{{ education_uni }}</p>
                <p><a href="mailto:alperenyanik@hotmail.com"><i class="fa-regular fa-envelope"></i>
                    {{ mail }}</a></p>
                <p><a href="tel:+905422400181"><i class="fa-regular fa-phone fa-shake"></i> {{ number }}</a></p>
                <p><a href="javascript:void(0)"><i class="fa-regular fa-location-dot"></i> {{ location }}</a></p>
                {#                <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>#}
            </div>
        </div>
    </div>
</section>

<!-- skill section -->
<section class="section" id="skills">
    <div class="container text-center">
        <div>
            <div>
                <p class="section-subtitle">What I'm Good At ?</p>
                <h2 class="section-title mb-6" style="text-align: center">My Skills <i class="fa-regular fa-code"></i>
                </h2>


                <div class="row">

                    {% for skill in skills %}
                        <div class="col-md-6">
                            <p style="margin-top: 30px; font-weight: bold;">{{ skill.name }} {{ skill.percentage }}%</p>
                            <div class="progress" style="height: 15px;">
                                <div class="progress-bar" style="width: {{ skill.percentage }}%;" role="progressbar"
                                     aria-valuenow="{{ skill.percentage }}" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    {% endfor %}

                </div>


            </div>
        </div>
    </div>
</section>

<!-- testimonial section -->
<section class="section" id="testimonial">
    <div class="container text-center">
        <p class="section-subtitle">What Clients Think About Me ?</p>
        <h6 class="section-title mb-6">Testimonial <i class="fa-regular fa-handshake fa-bounce"></i></h6>

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="{{ testimonial2_image.url }}" class="testimonial-card-img"
                             alt="">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">{{ testimonial2_think }}</p>
                        <h6 class="testimonial-card-title">{{ testimonial2_name }} <i class="fa-regular fa-cat"></i></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="{{ testimonial1_image.url }}" class="testimonial-card-img"
                             alt="">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">{{ testimonial1_think }}</p>
                        <h6 class="testimonial-card-title">{{ testimonial1_name }} <i class="fa-regular fa-bat"></i></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="{{ testimonial3_image.url }}" class="testimonial-card-img"
                             alt="">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">{{ testimonial3_think }}</p>
                        <h6 class="testimonial-card-title">{{ testimonial3_name }} <i class="fa-regular fa-bolt"></i></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="{{ testimonial4_image.url }}" class="testimonial-card-img"
                             alt="">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">{{ testimonial4_think }}</p>
                        <h6 class="testimonial-card-title">{{ testimonial4_name }} <i class="fa-regular fa-face-vomit"></i></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="{{ testimonial5_image.url }}" class="testimonial-card-img"
                             alt="">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">{{ testimonial5_think }}</p>
                        <h6 class="testimonial-card-title">{{ testimonial5_name }} <i class="fa-regular fa-spider"></i></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="{{ testimonial6_image.url }}" class="testimonial-card-img"
                             alt="">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">{{ testimonial6_think }}</p>
                        <h6 class="testimonial-card-title">{{ testimonial6_name }} <i class="fa-regular fa-cat"></i></h6>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end of container -->
</section> <!-- end of testimonial section -->

<!-- contact section -->
<section class="section" id="contact">
    <div class="container text-center">
        <p class="section-subtitle">How Can You Communicate?</p>
        <h6 class="section-title mb-5">Contact Me <i class="fa-regular fa-phone fa-shake"></i></h6>
        <!-- contact form -->
        <form class="contact-form col-md-10 col-lg-8 m-auto" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="text" size="50" class="form-control" placeholder="Your Name" required>
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" placeholder="Enter Email" requried>
                </div>
                <div class="form-group col-sm-12">
                        <textarea name="comment" id="comment" rows="6" class="form-control"
                                  placeholder="Write Something"></textarea>
                </div>
                <div class="form-group col-sm-12 mt-3">
                    <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                </div>
            </div>
        </form><!-- end of contact form -->
    </div><!-- end of container -->
</section><!-- end of contact section -->

{% include "includes/footer.html" %}

</body>

</html>